.lobby {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
}

.lobby-name {
  text-align: center;
}

.lobby-players {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lobby-details {
  text-align: center;
}
