.lobby {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.lobby-name {
  text-align: center;
}

.lobby-players {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lobby-details {
  text-align: center;
}

.lobby-jumbotron {
  border-bottom: 5px solid #31373c;
  box-shadow: 0px 5px 10px 0px #333333;
  border-radius: 15px;
}
